
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image : radial-gradient(rgb(163, 161, 167), rgb(45, 44, 46));
}

.container {
    height: 500px;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.carousel--container {
    display: flex;
    transition: transform 300ms ease-in-out;
    transform: translateX(0px);
}
.carousel--container > img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.left--button {
    position : absolute;
    z-index : 44;
    background : rgba(252, 252, 252, 0.397);
    bottom : 0;
    padding : 10px 15px;
    backdrop-filter: blur(7px);
    cursor: pointer;
    font-size : 1.5rem;
    left: 0;
}

.right--button {
    position : absolute;
    z-index : 44;
    background : rgba(255, 255, 255, 0.527);
    bottom : 0;
    padding : 10px 15px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    font-size : 1.5rem;
    right: 0;
}