
:root {
  color-scheme : dark light;
}

h1,h2 {
  color : hsl(255, 50%, 30%);
}

@media (prefers-color-scheme : dark) {
  h1,h2 {
    color : hsl(255, 50%, 80%);
  }
}

form {
  color : white;
  color-scheme : dark;
  background : purple;
}

h1 {
  color-scheme : dark;
}
